.ngw-svg-marker-library-resource-widget {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .archive {
        padding: 1em;
        line-height: 32px;
    }

    > .ngw-gui-edi-table {
        flex-grow: 1;
    }
}
