<div class="linkValue dijit dijitReset dijitInline dijitLeft" id="widget_${id}" role="presentation">
	<div class="dijitReset dijitInputField dijitInputContainer">
		<a class="" data-dojo-attach-point='link' target="_blank"></a>
		<input style="display: none;" class="dijitReset dijitInputInner" data-dojo-attach-point='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'/>
	</div>
</div>
