/* Openlayers fixes */

.ol-control {
    clear: both;
    pointer-events: auto;
}

.ol-control button {
    border-radius: inherit;
    color: inherit;
}

.mapadapter-control-container .ol-control {
    position: relative;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
}

.mapadapter-control-container .ol-attribution {
    right: inherit;
    bottom: inherit;
    margin: 0 !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    max-width: 100%;
    white-space: nowrap;
}

.mapadapter-control-container .ol-attribution.ol-uncollapsible {
    right: inherit;
    bottom: inherit;
}

.mapadapter-ctrl-left .openlayers-ctrl .mapadapter-ctrl {
    height: 100%;
}
