.mapadapter-control-container {
  --ol-partial-background-color: rgba(255, 255, 255, 0.5);
  --ol-subtle-background-color: rgba(255, 255, 255, 0.5);

  .ol-control {
    position: relative;
    top: inherit;
    bottom: inherit;
    inset-inline-end: inherit;
    inset-inline-start: inherit;
  }

  .ol-attribution {
    bottom: inherit;
    margin: 0 !important;
    inset-inline-end: inherit;
    padding: 0;
    max-width: 100%;
    white-space: nowrap;

    &:not(.ol-collapsed) {
      background: unset;
    }

    &.ol-uncollapsible {
      bottom: inherit;
      inset-inline-end: inherit;
    }
  }

  .ol-scale-line {
    position: unset;
    bottom: unset;
    inset-inline-start: unset;
    background: unset;

    > .ol-scale-line-inner {
      float: unset;
      color: var(--ol-subtle-foreground-color);
    }
  }
}
