.coordinate-switcher,
.claro .coordinate-switcher {
    border-color: transparent !important;
    color: #555;
    font-size: 12px;
}

.coordinate-switcher__dropdown,
.claro .coordinate-switcher__dropdown {
    border: 0;
    font-size: 12px;
}

.nextgis.claro .coordinate-switcher__dropdown .dijitMenuItem td {
    color: #555;
}

.coordinate-switcher .dijitArrowButton,
.claro .coordinate-switcher .dijitArrowButton {
    background-image: none;
    background-color: transparent;
}

.claro .coordinate-switcher .dijitButtonContents,
.coordinate-switcher .dijitButtonContents {
    border-right: 0;
}

/* fixes to display coordinate selector and copy button in one line */

.ngwPopup.dijitTooltipBelow .coordinate-switcher.dijitSelect {
    width: calc(100% - 20px);
    table-layout: auto;
    user-select: none;
}

.ngwPopup.dijitTooltipBelow
    .coordinate-switcher.dijitSelect
    .dijitReset.dijitStretch.dijitButtonContents {
    overflow: hidden;
}

.ngwPopup.dijitTooltipBelow
    .coordinate-switcher.dijitSelect
    .dijitReset.dijitRight.dijitArrowButtonContainer {
    width: 5px;
}

.ngwPopup.dijitTooltipBelow
    .coordinate-switcher.dijitSelect
    .dijitReset.dijitInputField.dijitButtonText {
    width: 1px;
}

.ngwPopup__coordinates-srs-name {
    padding-left: 3px;
    font-style: italic;
    font-size: 0.7rem;
}
