<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
        <div data-dojo-type="ngw/form/SpatialRefSysSelect" data-dojo-attach-point="wSRS" title="Система&nbsp;координат" style="width: 100%"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile" title="Файл"></div>
        <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="wEncoding" title="Кодировка" style="width: 100%">
            <option>Автоматически</option>
            <option value="utf-8">Юникод UTF-8</option>
            <option value="windows-1251">Кириллица Windows-1251</option>
        </select>
    </div>
</div>