.ngw-resource-children-section {
    svg.icon {
        margin: 0 2px;
    }

    .ant-table {
        .displayName {
            width: 100%;
            text-align: left !important;

            & > a {
                display: flex;
                align-items: center;
                gap: 8px;
                color: black;
                text-decoration: none;
                overflow-wrap: anywhere;

                &:hover {
                    color: var(--primary);
                }

                & > svg.icon {
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .actions,
        .volume {
            text-align: right !important;
        }

        .actions {
            font-size: 24px;
        }

        .cls,
        .ownerUser,
        .volume,
        .actions {
            white-space: nowrap;
        }

        .ownerUser {
            max-width: 15em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
