.ngw-feature-layer-table-config-modal.ant-modal {
  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 4px;
    min-width: 0;
  }

  .search {
    flex: 1;
    min-width: 0;
  }

  .field-checkbox {
    flex: 1;
    min-width: 0;
    overflow: hidden;

    > span:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .fields {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
