.resources-filter {
  width: 290px;
  z-index: 100;
}

.nextgis.claro .resources-filter .dijitTextBox .dijitInputField {
  padding: 8px 4px 5px 7px;
}

.resources-filter .dijitTextBox .dijitInputInner {
  font-weight: normal;
  margin: 0 22px !important;
  /*width: 84% !important;*/
  width: 90% !important;
  padding: 0;
}

.resources-filter .dijitTextBox .dijitPlaceHolder {
  left: 22px;
  font-style: normal;
  font-weight: normal;
}

.resources-filter .icon-search {
  position: relative;
  font-size: 24px;
  color: var(--icon-color);
  left: 4px;
  top: -30px;
  width: 30px;
}

.resources-filter .filter {
  display: none;
  position: relative;
  right: 0;
  top: -29px;
  float: right;
}

.resources-filter .filter:before {
  content: "\e429";
}

.resources-filter.active .result:not(:empty) {
  display: block;
}

.resources-filter .result,
.resources-filter.loading .result {
  display: none;
  position: relative;
  top: -29px;
  overflow-y: auto;
  z-index: 100;
  max-height: 300px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: rgba(0, 0, 0, 0.16) solid 1px;
}

.resources-filter .result li {
  padding: 6px 7px 5px 7px;
  color: #212121;
  text-decoration: none;
  font-weight: normal;
}

.resources-filter .result li.active {
  background: #f0f6fc;
}

.resources-filter .result li.not-found {
  color: gray;
}

.resources-filter.loading .linear-activity {
  display: block;
}

.resources-filter .linear-activity {
  display: none;
  overflow: hidden;
  width: 288px;
  height: 3px;
  position: absolute;
  top: 30px;
  left: 14px;
  border-radius: 4px;
  background-color: #e5eef7;
  margin: 0;
}

.resources-filter .determinate {
  position: relative;
  max-width: 100%;
  height: 3px;
  -webkit-transition: width 500ms ease-out 1s;
  -moz-transition: width 500ms ease-out 1s;
  -o-transition: width 500ms ease-out 1s;
  transition: width 500ms ease-out 1s;
  background-color: rgba(7, 109, 191, 0.5);
}

.resources-filter .indeterminate {
  position: relative;
  width: 100%;
  height: 3px;
}

.resources-filter .indeterminate:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: rgba(7, 109, 191, 0.5);
  animation: indeterminate_first 1.5s infinite ease-out;
}

.resources-filter .indeterminate:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: rgba(7, 109, 191, 0.3);
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}