<div data-dojo-attach-point="elWrapper"
     class="resources-filter">
    <div data-dojo-type="dijit/form/TextBox"
         data-dojo-attach-point="tbSearch"
         data-dojo-props="placeHolder: '{{gettext 'Search'}}'"
         title="${title}" style="width: 100%">
    </div>
    <div class="search material-icons"></div>
    <div class="filter material-icons"></div>
    <div class="linear-activity">
        <div class="indeterminate"></div>
    </div>
    <div class="result" data-dojo-attach-point="result"></div>
</div>
