.resources-filter {
  width: 290px;
}

.nextgis.claro .resources-filter .dijitTextBox .dijitInputField {
  padding: 5px 4px;
}

.resources-filter .dijitTextBox .dijitInputInner {
  font-weight: normal;
  margin: 0 22px !important;
  width: 84% !important;
}

.resources-filter .dijitTextBox .dijitPlaceHolder {
  font-weight: normal;
  left: 22px;
}

.resources-filter .search {
  position: relative;
  left: 2px;
  top: -29px;
  float: left;
}

.resources-filter .search:before {
  content: "\e8b6";
}

.resources-filter .filter {
  position: relative;
  right: 0;
  top: -29px;
  float: right;
}

.resources-filter .filter:before {
  content: "\e429";
}

.resources-filter.active .result {
  display: block;
}

.resources-filter .result {
  display: none;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: rgba(0, 0, 0, 0.16) solid 1px;
}

.resources-filter .result li {
  padding: 5px 7px;
  color: #212121;
  text-decoration: none;
  font-weight: normal;
}

.resources-filter .result li:hover {
  background: #f0f6fc;
}

.resources-filter .result li a {
  padding-left: 20px;
}