.coordinates-switcher {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;

    .fill {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .content {
        flex-shrink: 0;
        white-space: nowrap;
    }
}

.switch-coords {
    .srs {
        font-style: italic;
        margin-left: 2px;
    }
}
