.key-value-table {
    .attr-column {
        width: 25%;
    }

    td {
        word-wrap: break-word;
        min-width: 8rem;
        white-space: normal;
        word-break: break-word;
    }

    .ant-table-cell {
        vertical-align: top;
        padding: 5px 10px;
    }
}
