@margin-default: 8px;

.panel-content-container {
    display: flex;
    margin: 0 @margin-default;
    width: auto;
    align-items: center;

    &.margin-all {
        margin: @margin-default;
    }

    &.no-margin-x {
        margin-left: 0;
        margin-right: 0;
    }

    .fill {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .content {
        flex-shrink: 0;
        white-space: nowrap;
    }
}
