<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">

    <div data-dojo-type="dijit/form/TextBox"
        data-dojo-attach-point="wHomePath"
        data-dojo-props="placeHolder: '/resource/0'"
        style="width:60%; float: left; margin-right: 16px; margin-bottom: 24px; padding: 6px 8px;">
    </div>

    <button data-dojo-type="dijit/form/Button" 
        data-dojo-attach-point="buttonSave"
        class="dijitButton--primary">{{gettext 'Save'}}</button>
</div>

