<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
     data-ngw-serialize-prefix="${serializePrefix}"
     class="padding-block">

  <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 2, labelWidth: 300">
    <div data-dojo-attach-point="chbEditable"
         data-dojo-type="dijit/form/CheckBox"
         title="{{gettext 'Enable layers editing'}}">
    </div>
  </div>
</div>
