.map-toolbar .ol-control {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    margin: 0;
}

.control-pane--bottom .map-toolbar .ol-control {
    margin-left: 6px;
}

.control-pane--bottom .map-toolbar .ol-control:first-child {
    margin-left: 0;
}

.control-pane--top .map-toolbar .ol-control {
    margin-top: 8px;
}

.control-pane--top .map-toolbar .ol-control:first-child {
    margin-top: 0;
}

.map-toolbar .ol-control .toggle-button {
    fill: var(--primary);
    transition: none;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    border: 0;
    background: #fff;
    padding: 0;
    width: 30px;
    height: 30px;
    color: var(--primary);
    line-height: 30px;
    text-shadow: none;
}

.map-toolbar .ol-control .toggle-button:hover {
    background: #f9fafb;
}

/* Move somewhere, for the whole map */

.ol-control .toggle-button.checked,
.map-toolbar .ol-control.toggle-button.checked {
    fill: #fff;
    background: var(--primary);
    color: #fff;
}

.map-toolbar .ol-control .toggle-button .toggle-button-container {
    display: inline-block;
}

.map-toolbar .ol-control .toggle-button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
