# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg-info
env/
build/
dist/
sdist/



# Translations
*.mo
*.pot
*.jed

# Sphinx documentation
doc/_build/
doc/*/_build/
*~

# IDE
.idea
.vscode

XDG_CACHE_HOME