# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
eggs/
sdist/
*.egg-info/
*.egg

# Translations
*.mo
*.pot
*.jed

# Sphinx documentation
doc/_build/
doc/*/_build/
*~

# IDE
.idea
.vscode

XDG_CACHE_HOME