.ngw-feature-layer-geometry-info-loading,
.ngw-feature-layer-geometry-info-error {
    padding: 5px;
    width: 100%;
    height: auto;
    text-align: center;
}

.ngw-feature-layer-geometry-info-loading {
    color: gray;
}

.ngw-feature-layer-geometry-info-error {
    color: #9b0000;
}
