<div class="layers-panel">
    <div data-dojo-attach-point="layerTreePane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'center'"
         style="padding: 0">
    </div>

    <div data-dojo-attach-point="basemapPane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'bottom', border: false">
        <select data-dojo-attach-point="basemapSelect"
                data-dojo-type="dijit/form/Select"
                style="width: 100%;">
        </select>
    </div>
</div>
