<div class="layers-panel">
    <div data-dojo-attach-point="layerTreePane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'center'"
         style="padding: 0">
    </div>

    <div data-dojo-attach-point="basemapPane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'bottom', border: false">
        <div data-dojo-attach-point="basemapSelector"></div>
    </div>
</div>
