<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-attach-point="imageContainer">

    </div>

    <div data-dojo-type="dijit/TitlePane"
        data-dojo-props="open: false"
        title="Добавить">

        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile1" title="1"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile2" title="2"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile3" title="3"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile4" title="4"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile5" title="5"></div>
    </div>

</div>