// .ol-rotate {
//     top: 4.643em;
//     right: auto;
//     left: 0.5em;
// }

// .map-container {
//     .ol-control-top-right {
//         position: absolute;
//         top: 16px;
//         right: 16px;
//     }
//     .ol-control-top-left {
//         position: absolute;
//         top: 16px;
//         left: 16px;
//     }
// }

/* Global ol styles */
.ol-selectable {
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

/* Rotate control */

.ol-compass {
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
}
