.ol-selectable {
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

/* Make sure that overlay containers use screen coordinates positioning */

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
  direction: ltr;
}

/* Rotate control */

.ol-compass {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
}
