@media (max-width: 768px) {
  .ngw-feature-filter-modal.ant-modal {
    > div {
      > .ant-modal-content {
        border-radius: 0;
      }

      .ant-form-item-label {
        padding-top: 1rem;
        padding-bottom: 0;
      }
    }
  }
}
