dl.ngw-resource-main-section-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 4px;

    > dt,
    > dd {
        margin: 0;
        padding: 0;
    }

    > dt {
        display: flex;
        gap: 4px;
        min-width: 15ch;
        color: var(--text-secondary);

        &:after {
            display: inline-block;
            flex-grow: 1;
            background-image: radial-gradient(
                circle,
                currentcolor 0.75px,
                transparent 0.75px
            );
            background-position: left 0 top 10px;
            background-size: 6px 10px;
            background-repeat: repeat-x;
            min-width: 2em;
            content: "";
        }
    }
}
