.ngw-pyramid-analytics-settings {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > .ant-tabs {
        > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
            padding: 1em;
            height: 20em;
        }
    }
}
