.coordinates-switcher {
    display: flex;
    align-items: center;
    max-width: 100%;

    > .ant-select {
        flex-grow: 1;
        min-width: 0;

        > .ant-select-selector {
            padding-right: 4px;
            padding-left: 4px;
        }

        > .ant-select-arrow {
            inset-inline-end: 4px;
        }
    }

    > .ant-btn {
        flex: 0 0 auto;
        color: var(--icon-color);
    }
}
