.ngw-webmap-panel-identify {
    .ngw-webmap-panel-prolog {
        background-color: #e6f0f8;
    }

    .load-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .load {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 10px;
            color: #076dbfc4;
            text-align: center;
        }
    }
}
