.ngw-webmap-panel-identify-kv-table {
    .ant-table > .ant-table-container > .ant-table-content > table {
        td {
            word-wrap: break-word;
            vertical-align: top;
            padding: 4px 4px;
            min-width: 8rem;
            white-space: normal;
            word-break: break-word;
        }

        .attr-column {
            width: 25%;
        }
    }
}
