.ngw-search-settings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;

  .source-layer-block,
  .sources-block,
  .navigation-mode-block,
  .source-layer-radio {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .source-layer-block,
  .sources-block,
  .navigation-mode-block {
    > :not(:first-child) {
      margin-left: 8px;
    }
  }
}
