.annotation-dialog .annotation-access-type {
    margin: 0 0 9px 0;
    padding: 1px 2px 1px 5px;
    color: #818181;
    font-size: 12px;
    text-align: left;
}

.annotation-dialog[data-access-type="empty"] .annotation-access-type {
    display: none;
}

.annotation-dialog .annotation-access-type {
    border: 1px solid transparent;
    border-left-width: 8px;
}

.annotation-dialog[data-access-type="public"] .annotation-access-type {
    border-color: var(--annotation-public);
}

.annotation-dialog[data-access-type="own"] .annotation-access-type {
    border-color: var(--annotation-own);
}

.annotation-dialog[data-access-type="private"] .annotation-access-type {
    border-color: var(--annotation-private);
}
