.ant-tabs-card {
    > .ant-tabs-nav {
        margin-bottom: 0;

        &::before {
            border-bottom: none;
        }

        > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
            > .ant-tabs-tab-btn {
                color: var(--text-secondary);
                letter-spacing: 1px;
                text-transform: uppercase;

                &:hover {
                    color: var(--text-base);
                }
            }

            &.ant-tabs-tab-active {
                > .ant-tabs-tab-btn {
                    color: var(--text-base);
                }
            }
        }
    }

    > .ant-tabs-content-holder {
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-top: none;
        background-color: white;

        > .ant-tabs-content > .ant-tabs-tabpane > .ngw-gui-antd-tab-padding {
            padding: 1em;
        }
    }
}

.ant-tabs-parent-height {
    height: 100%;

    > .ant-tabs-content-holder {
        position: relative;

        > .ant-tabs-content {
            position: absolute;
            inset: 0;

            > .ant-tabs-tabpane {
                position: absolute;
                inset: 0;
                overflow-y: auto;
            }
        }
    }
}
