
.ngw-webmap-share-panel {
    display: flex;
    flex-direction: column;

    > section {
        border-bottom: 1px solid var(--divider-color);
        padding: 12px 8px;

        > h5 {
            margin: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .ant-alert {
            margin-top: 12px;
        }
    }
}

.ant-select-item-option-content,
.ant-select-selection-item-content,
.ant-select-selection-item {
    .panel-title {
        display: grid;
        grid-template-columns: 20px auto;

        .icon {
            color: var(--primary);
            font-size: 14px;
        }
    }
}
