.cell-collapsible__more,
.cell-collapsible__less {
    cursor: pointer;
    margin-left: 2px;
    border: none;
    background: none;
    padding: 0 2px;
    font-size: 0.8em;
    text-decoration: underline;
}
