.ngw-file-upload-file-uploader > .ant-upload.ant-upload-drag {
    border: none;
    padding: 12px;

    > span.ant-upload-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px dashed var(--divider-color);
        padding: 12px;

        > .ant-upload-drag-container {
            display: block;

            p.ant-upload-hint {
                margin: 0px;
                max-width: 40em;
            }

            span.clickable {
                color: var(--link-color);
                text-decoration: underline 1px dashed;

                &:hover {
                    color: var(--link-hover-color);
                }
            }

            span.size {
                opacity: 0.5;
            }

            p.ant-upload-text {
                margin: 0;

                button.ant-btn-icon-only {
                    vertical-align: 0px;
                }
            }
        }
    }
}
