.mapadapter-ctrl-left,
.mapadapter-ctrl-right,
.mapadapter-ctrl-top-left,
.mapadapter-ctrl-top-right,
.mapadapter-ctrl-bottom-left,
.mapadapter-ctrl-bottom-right {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.mapadapter-ctrl-left,
.mapadapter-ctrl-right {
    height: 100%;
}

.mapadapter-ctrl-left {
    padding-right: 0;
}

.mapadapter-ctrl-right {
    padding-left: 0;
}

.mapadapter-ctrl-top-left {
    top: 0;
    left: 0;
}

.mapadapter-ctrl-top-right {
    top: 0;
    right: 0;
}

.mapadapter-ctrl-bottom-left {
    bottom: 0;
    left: 0;
}

.mapadapter-ctrl-bottom-right {
    right: 0;
    bottom: 0;
}

.mapadapter-ctrl {
    clear: both;
    /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
    transform: translate(0, 0);
    pointer-events: auto;
}

.mapadapter-ctrl-top-left .mapadapter-ctrl {
    float: left;
    margin: 10px 0 0 10px;
}

.mapadapter-ctrl-top-right .mapadapter-ctrl {
    float: right;
    margin: 10px 10px 0 0;
}

.mapadapter-ctrl-bottom-left .mapadapter-ctrl {
    float: left;
    margin: 0 0 10px 10px;
}

.mapadapter-ctrl-bottom-right .mapadapter-ctrl {
    float: right;
    margin: 0 10px 10px 0;
}

.mapadapter-ctrl-group {
    border-radius: 2px;
    background: #fff;
}

.mapadapter-ctrl-group:not(:empty) {
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
}

@media (-ms-high-contrast: active) {
    .mapadapter-ctrl-group:not(:empty) {
        box-shadow: 0 0 0 2px ButtonText;
    }
}

.mapadapter-ctrl-group button {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 29px;
    height: 29px;
    fill: var(--primary);
    cursor: pointer;
    color: var(--primary);
}

.mapadapter-ctrl-group button + button {
    border-top: 1px solid #ddd;
}

.mapadapter-ctrl button .mapadapter-ctrl-icon {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (-ms-high-contrast: active) {
    .mapadapter-ctrl-icon {
        background-color: transparent;
    }
    .mapadapter-ctrl-group button + button {
        border-top: 1px solid ButtonText;
    }
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */

.mapadapter-ctrl button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.mapadapter-ctrl-group button:focus {
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
}

.mapadapter-ctrl button:disabled {
    cursor: not-allowed;
}

.mapadapter-ctrl button:disabled .mapadapter-ctrl-icon {
    opacity: 0.25;
}

.mapadapter-ctrl button:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.mapadapter-ctrl-group button:focus:focus-visible {
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
}

.mapadapter-ctrl-group button:focus:not(:focus-visible) {
    box-shadow: none;
}

.mapadapter-ctrl-group button:focus:first-child {
    border-radius: 4px 4px 0 0;
}

.mapadapter-ctrl-group button:focus:last-child {
    border-radius: 0 0 4px 4px;
}

.mapadapter-ctrl-group button:focus:only-child {
    border-radius: inherit;
}
