.circle {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);

    &--secondary {
        background-color: var(--secondary);
    }

    &--success {
        background-color: var(--success);
    }

    &--danger {
        background-color: #ef9a9a;
    }
}

.padding-block {
    padding: 8px;
}