<div class="error-card content-box">
    <h1 data-dojo-attach-point="titleNode" class="error-card__title">${errorTitleWithCode}</h1>
    <div class="error-card__content"
         data-dojo-attach-point="contentNode">
    </div>
    <div class="error-card__footer"
         data-dojo-attach-point="acttionsNode">
      <div class="error-card__technical-info"
           data-dojo-attach-point="technicalInfoNode">
      </div>
      <div class="error-card__actions">
        <div class="error-card__actions-left">
          <a href="#" class="link link--muted link--action link--dropdown"
             data-dojo-attach-point="technicalInfoLink">
            ${technicalInfoText}<span class="link__icon material-icons">arrow_drop_down</span>
          </a>
        </div>
        <div class="error-card__actions-right">
          {{#if showSupportUrl}}
          <a href="${supportUrl}" target="_blank" class="error-card__contact-link link link--action">${supportText}</a>
          {{/if}}
          <a href="${mainActionUrl}" class="error-card__main-action dijit dijitReset dijitInline dijitButton--primary dijitButton"
             data-dojo-attach-point="mainAction">
              <span class="dijitReset dijitInline dijitButtonNode">${mainActionText}</span>
          </a>
        </div>
      </div>
    </div>
</div>
