.error-card{
    box-sizing: border-box;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.error-card.content-box{
    margin-bottom: 0;
}

.error-card::before{
    content: "";
    position: absolute;
    right: 8px;
    top: 8px;
    width: 56px;
    height: 56px;
    background: url("./resources/error-label.svg") center center no-repeat transparent;
    background-size: 56px 56px;
}

.error-card__title{
    margin-top: 0;
}

.error-card__footer{
    border-top: 1px solid #dedede;
    margin: 32px -24px -24px;
    padding: 12px 24px;
}

.error-card__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-card__contact-link{
    margin-right: 12px;
}

.error-card__technical-info{
    padding-bottom: 16px;
    display: none;
}

.error-card__technical-info.active{
    display: block;
}

.error-card__technical-info .CodeMirror-scroll {
  max-height: 25em;
}
