div.caption { font-size: 20px; padding-top: 8px; font-weight: bold;}

ul.ngwModelWidgetError { border: 1px solid #D46464; margin: 0 0 1ex 0;}
ul.ngwModelWidgetError li { padding: .5ex 0;}


.dijitTableLayout td.tableContainer-labelCell { padding: 4px; }
.dijitTableLayout td.tableContainer-valueCell { padding: 4px; }

.dijitTableLayout tr td.tableContainer-labelCell:first-child { padding-left: 2px; }
.dijitTableLayout tr td.tableContainer-valueCell:last-child { padding-right: 2px; }

.dijitTabContainerTopChildWrapper.dijitVisible { height: 100%; }

.CodeMirror { font-size: 12px; border: 1px solid #efefef; background-color: #fff;}

.CodeMirror-autoHeight .CodeMirror {
  height: auto;    
}

.CodeMirror-autoHeight .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}


/* Не очень понятно почему так происходит, но user-select для dijit.Tree
автоматически не выставляется, хотя для других элементов управления
выставляется вполне корректно. Пока добавляем его вручную. */
.dijitTree {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}


/* Возможность указать ширину dojox/form/CheckedMultiSelect в явном виде,
а также высота по умолчанию.*/
.dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
    width: 100%;
    margin: 0 !important;
    padding-right: 0 !important;
    height: 200px !important;
}

/* Убираем обводку */
*:focus {
    outline: none;
}

table.data {}

table.data tr th { background-color: #eee; font-weight: bold; }
table.data tr th, table.data tr td { padding: 0.2ex 0.5ex; }

a.action {text-decoration: none; border-bottom: 1px dashed blue; cursor: pointer; }
