/* glue: 0.11.1 hash: 5879f9fe20 */
        .iconZoomOut,
.iconZoomIn,
.iconZoom,
.iconTable,
.iconSwipeVertical,
.iconSwipeHorizontal,
.iconSideHide,
.iconSideExpand,
.iconShapeSquare,
.iconRulerSquare,
.iconRuler,
.iconRotate,
.iconPrinter,
.iconPan,
.iconMap,
.iconLink,
.iconLayers,
.iconIdentify,
.iconFeatureEdit,
.iconDescription,
.iconArrowInOut {
            background-image: url('../img/icon.png');
            background-repeat: no-repeat;
        }
        
        .iconZoomOut {
            background-position: 0 0;
            width: 16px;
            height: 16px;
        }
        
        .iconZoomIn {
            background-position: -16px 0;
            width: 16px;
            height: 16px;
        }
        
        .iconZoom {
            background-position: 0 -16px;
            width: 16px;
            height: 16px;
        }
        
        .iconTable {
            background-position: -16px -16px;
            width: 16px;
            height: 16px;
        }
        
        .iconSwipeVertical {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .iconSwipeHorizontal {
            background-position: -32px -16px;
            width: 16px;
            height: 16px;
        }
        
        .iconSideHide {
            background-position: 0 -32px;
            width: 16px;
            height: 16px;
        }
        
        .iconSideExpand {
            background-position: -16px -32px;
            width: 16px;
            height: 16px;
        }
        
        .iconShapeSquare {
            background-position: -32px -32px;
            width: 16px;
            height: 16px;
        }
        
        .iconRulerSquare {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .iconRuler {
            background-position: -48px -16px;
            width: 16px;
            height: 16px;
        }
        
        .iconRotate {
            background-position: -48px -32px;
            width: 16px;
            height: 16px;
        }
        
        .iconPrinter {
            background-position: 0 -48px;
            width: 16px;
            height: 16px;
        }
        
        .iconPan {
            background-position: -16px -48px;
            width: 16px;
            height: 16px;
        }
        
        .iconMap {
            background-position: -32px -48px;
            width: 16px;
            height: 16px;
        }
        
        .iconLink {
            background-position: -48px -48px;
            width: 16px;
            height: 16px;
        }
        
        .iconLayers {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .iconIdentify {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .iconFeatureEdit {
            background-position: -64px -32px;
            width: 16px;
            height: 16px;
        }
        
        .iconDescription {
            background-position: -64px -48px;
            width: 16px;
            height: 16px;
        }
        
        .iconArrowInOut {
            background-position: 0 -64px;
            width: 16px;
            height: 16px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .iconZoomOut,
    .iconZoomIn,
    .iconZoom,
    .iconTable,
    .iconSwipeVertical,
    .iconSwipeHorizontal,
    .iconSideHide,
    .iconSideExpand,
    .iconShapeSquare,
    .iconRulerSquare,
    .iconRuler,
    .iconRotate,
    .iconPrinter,
    .iconPan,
    .iconMap,
    .iconLink,
    .iconLayers,
    .iconIdentify,
    .iconFeatureEdit,
    .iconDescription,
    .iconArrowInOut {
                background-image: url('../img/icon.png');
                -webkit-background-size: 80px 80px;
                -moz-background-size: 80px 80px;
                background-size: 80px 80px;
            }
        }
        
