@import "variables.less";

@import (css) "@{node_modules}/@fontsource/roboto/100.css";
@import (css) "@{node_modules}/@fontsource/roboto/300.css";
@import (css) "@{node_modules}/@fontsource/roboto/400.css";
@import (css) "@{node_modules}/@fontsource/roboto/500.css";
@import (css) "@{node_modules}/@fontsource/roboto/700.css";
@import (css) "@{node_modules}/@fontsource/roboto/900.css";

@import "blocks/_icons.less";
@import "blocks/_links.less";
@import "blocks/_list.less";
@import "blocks/_typography.less";

/* -- BASE STYLES -- */

body,
html {
    height: 100%;
    font-family: var(--ngw-text-font-family);
}

body {
    margin: 0;
    min-width: 680px;
    color: var(--text-base);
    font-size: 14px;
    line-height: 1.55;
}

*:focus {
    outline: none;
}

/* -- Icons --*/
[class^="icon-"],
[class*=" icon-"] {
    text-decoration: none;

    &:before {
        margin-right: 0;
        margin-left: 0;
        color: inherit;
    }
}

a:hover [class^="icon-"]:before,
a:hover [class*=" icon-"]:before,
a[class^="icon-"]:hover:before,
a[class*=" icon-"]:hover:before {
    color: var(--primary);
}

.middle-text {
    font-weight: bold;
    font-size: 16px;
}

.label-text {
    margin-right: 5px;
}

/* -- Layout -- */

.ngw-pyramid-layout {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 680px;
    min-height: 100%;

    > .ngw-pyramid-layout-crow {
        display: flex;
        flex-grow: 1;
        margin: 0;
        padding: 0;

        > .ngw-pyramid-layout-mwrapper {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: stretch;
            min-width: 0;

            > .ngw-pyramid-layout-main {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                gap: 6px;
                box-sizing: border-box;
                padding: 24px 12px 12px 12px;
                max-width: 1000px;

                > .ngw-pyramid-layout-bcrumb {
                    color: var(--text-secondary);

                    > span {
                        &::before {
                            vertical-align: 30%;
                            opacity: 0.5;
                            margin: 0 4px;
                            content: "●";
                            font-size: 6px;
                        }

                        &:first-child::before {
                            display: none;
                        }

                        > a {
                            color: inherit;
                            text-decoration: none;

                            &:hover {
                                color: var(--link-hover-color);
                            }

                            > svg.icon {
                                opacity: 0.75;
                            }
                        }
                    }
                }

                h1.ngw-pyramid-layout-title {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin: 0 0 12px 0;
                    min-height: 40px;

                    & > *:not(.ant-btn) {
                        font-weight: initial;
                        font-size: initial;
                    }

                    &.pull-right > *:first-child {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    &.ngw-pyramid-layout-hstretch {
        > .ngw-pyramid-layout-crow
            > .ngw-pyramid-layout-mwrapper
            > .ngw-pyramid-layout-main {
            max-width: 100%;
        }
    }

    &.ngw-pyramid-layout-vstretch {
        > .ngw-pyramid-layout-crow
            > .ngw-pyramid-layout-mwrapper
            > .ngw-pyramid-layout-main
            > .content {
            flex-grow: 1;
            min-height: 400px;

            > * {
                box-sizing: border-box;
            }
        }
    }
}

/* Sidebar */

.ngw-pyramid-layout-sidebar {
    position: relative;
    flex-shrink: 0.5;
    box-sizing: border-box;
    border-left: 1px solid var(--divider-color);
    background: white;
    padding: 24px 12px 24px 24px;
    width: 25%;
    min-width: 25ch;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.6);
}

@import "override-antd.less";

@import "include.less";

// To prevent FOUC, import it as soon as possible. When the SPA or global
// spinner is done, switch to a normal import from Header.tsx.
@import "../../pyramid/nodepkg/layout/header/Header.less";
