@import "fontello.css";
/* -- Variables -- */
/* -- BASE STYLES -- */
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular.eot");
  src: url("../font/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.ttf") format("truetype"), url("../font/roboto-regular.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-bold.eot");
  src: url("../font/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../font/roboto-bold.woff") format("woff"), url("../font/roboto-bold.ttf") format("truetype"), url("../font/roboto-bold.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../font/roboto-condensed-regular.eot");
  src: url("../font/roboto-condensed-regular.eot?#iefix") format("embedded-opentype"), url("../font/roboto-condensed-regular.woff") format("woff"), url("../font/roboto-condensed-regular.ttf") format("truetype"), url("../font/roboto-condensed-regular.svg#Roboto Condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
.pure-g [class*="pure-u"] {
  font-family: "Roboto";
}
body,
html {
  height: 100%;
  font-family: "Roboto";
}
body {
  font-size: 13px;
  line-height: 1.54;
  color: #212121;
  background-color: #fafafa;
  min-width: 900px;
}
a {
  color: #176fc1;
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
a:hover {
  color: #3FB4E2;
  border-color: #3FB4E2;
  border-color: rgba(63, 180, 226, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Roboto Condensed";
  font-weight: normal;
  line-height: 1.1;
}
h1,
.h1 {
  font-size: 28px;
  color: #000000;
}
h2,
.h2 {
  font-size: 18px;
  color: #212121;
  border-bottom: 0;
  margin-top: 35px;
  padding-bottom: 0;
  margin-bottom: 13px;
}
h2:first-child,
.h2:first-child {
  margin-top: 0;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-inline {
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* -- Icons --*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: inherit;
  margin-left: 0;
  margin-right: 0;
}
a:hover [class^="icon-"]:before,
a:hover [class*=" icon-"]:before {
  color: #ffba3f;
}
/* -- LAYOUT STYLES -- */
.layout {
  position: relative;
  min-height: 100%;
  min-width: 900px;
}
.title {
  padding: 45px 0 25px;
}
.title h1,
.title h2,
.title h3 {
  margin: 0;
  font-weight: normal;
  vertical-align: middle;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
/* -- Header --*/
.header {
  position: relative;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #036997;
  color: #ffffff;
  z-index: 10;
  overflow: hidden;
  line-height: 1.3;
  font-size: 14px;
}
.header a {
  text-decoration: none;
  color: #b0d0de;
}
.header a:hover {
  color: #ffffff;
}
.header a:hover .icon-logout:before {
  color: #ffba3f;
}
.header .icon-logout:before {
  color: #b0d0de;
}
.header .header__title {
  display: table;
  color: #ffffff;
  vertical-align: top;
}
.header .header__title:hover {
  color: #ffffff;
}
.header__right {
  float: right;
  width: 60%;
  text-align: right;
}
.header__left {
  float: left;
  width: 40%;
  max-width: 500px;
}
.header__title__logo {
  display: table-cell;
  vertical-align: top;
}
.logo__pic {
  display: block;
  margin: -5px 15px -5px -15px;
}
.header__title__inner {
  display: table-cell;
  vertical-align: top;
}
/* -- MENU STYLES -- */
.menu-list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.menu-list .menu-list__item {
  margin-left: 20px;
}
.menu-list .menu-list__item:first-child {
  margin-left: 0;
}
.lang-list {
  display: inline-block;
  margin-left: 40px;
}
.lang-list .lang-list__item {
  margin-left: 0px;
}
.lang-list .lang-list__item:before {
  content: "|";
  position: relative;
  color: rgba(255, 255, 255, 0.2);
  padding-right: 4px;
  top: -1px;
}
.lang-list .lang-list__item:first-child:before {
  display: none;
}
.user-menu-list {
  display: inline-block;
  margin-left: 40px;
}
.user-menu-list .user-menu-list__item {
  margin-left: 10px;
}
.user-menu-list .user-menu-list__item:first-child {
  margin-left: 0;
}
.user-menu-list .user-menu-list__item.user .icon-user:before {
  color: #ffffff;
}
/* -- TABLES -- */
table {
  font-size: inherit;
}
/* redefine pure css style */
.pure-table {
  border: 0;
}
.pure-table thead {
  background: none;
}
.pure-table thead:first-child th {
  padding-top: 0;
}
.pure-table th {
  font-weight: normal;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding-bottom: .35em;
  padding-top: 6px;
  padding-bottom: 5px;
}
.pure-table td,
.pure-table th {
  border-bottom: 1px solid #efefef;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  vertical-align: top;
  border-left: 0;
}
.pure-table tbody th {
  text-transform: none;
  color: #212121;
  font-weight: bold;
  text-align: left;
}
.pure-table tbody tr:hover td,
.pure-table tbody tr:hover th {
  background-color: #f8f8f8;
}
.pure-table.pure-table-horizontal tbody > tr:last-child > td,
.pure-table.pure-table-horizontal tbody > tr:last-child > th {
  border-bottom: 0;
}
.table-keyvalue {
  margin-bottom: 30px;
}
.table-keyvalue:last-child {
  margin-bottom: 0;
}
.table-keyvalue td,
.table-keyvalue th {
  padding-top: .615em;
  padding-bottom: 0;
  border-bottom-color: transparent;
  padding-left: 0;
  vertical-align: bottom;
}
.table-keyvalue td:last-child,
.table-keyvalue th:last-child {
  padding-right: 0;
}
.table-keyvalue td.table-keyvalue__key,
.table-keyvalue th.table-keyvalue__key {
  border-bottom-color: #e1e1e1;
  font-weight: normal;
  color: #aaaaaa;
  letter-spacing: 0;
}
.table-keyvalue td.table-keyvalue__value,
.table-keyvalue th.table-keyvalue__value {
  padding-left: 3px;
}
.table-keyvalue th {
  min-width: 160px;
  max-width: 300px;
}
.table-keyvalue tbody tr:first-child td,
.table-keyvalue tbody tr:first-child th {
  padding-top: 0;
}
.table-keyvalue tbody tr:hover td,
.table-keyvalue tbody tr:hover th {
  background-color: transparent;
}
.table-keyvalue__key__inner,
.table-keyvalue__value__inner {
  position: relative;
  top: 4px;
  background-color: #fafafa;
}
.content-box .table-keyvalue__key__inner,
.content-box .table-keyvalue__value__inner {
  background-color: #ffffff;
}
.table-keyvalue__key__inner {
  padding-right: 3px;
}
/* -- CONTENT STYLES -- */
.content {
  padding-bottom: 30px;
}
.content__inner {
  min-height: 100%;
}
.content-maxheight {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 30px;
}
.content-maxheight .expand {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.content__container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.maxwidth .content__container {
  max-width: none;
  margin: 0;
}
.content-box {
  position: relative;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
  box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
}
.lt-ie9 .content-box {
  border: 1px solid #efefef;
}
/* Sidebar */
.sidebar {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 5;
  overflow: auto;
  min-height: 100%;
}
.sidebar .sidebar-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sidebar-menu {
  position: relative;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
  box-shadow: 0 1px 3px rgba(57, 70, 78, 0.3);
  padding: 30px;
}
.sidebar-menu .table-keyvalue__key__inner,
.sidebar-menu .table-keyvalue__value__inner {
  background-color: #ffffff;
}
.sidebar-menu__heading {
  font-size: 14px;
  line-height: 1.25;
  color: #212121;
  border-bottom: 1px solid rgba(39, 85, 119, 0.12);
  margin-bottom: .75em;
  margin-top: 1.875em;
  font-family: "Roboto Condensed";
  letter-spacing: .5px;
  text-transform: uppercase;
}
.sidebar-menu__heading:first-child {
  margin-top: 0;
}
.sidebar-menu__item {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
}
.sidebar-menu__link {
  color: #212121;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.sidebar-menu__link:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: -30px;
  top: 0;
  background-color: #ffba3f;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.sidebar-menu__link:hover {
  color: #176fc1;
  border-bottom-color: #176fc1;
  border-bottom-color: rgba(23, 111, 193, 0.4);
}
.sidebar-menu__link:hover:after {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.sidebar-menu__item--selected .sidebar-menu__link {
  color: #176fc1;
  font-weight: bold;
}
.lt-ie9 .sidebar-menu__link:after {
  display: none;
}
.lt-ie9 .sidebar-menu__link:hover:after {
  display: block;
}
.sidebar-helper {
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 0 7px rgba(57, 70, 78, 0.2);
}
/*-- Meta info --*/
.meta-info {
  max-width: 80%;
  margin-top: 5px;
}
/*-- Breadcrumbs --*/
.path {
  margin-bottom: 5px;
  margin-top: -25px;
}
.path__item {
  color: #aaaaaa;
}
.path__item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #ffba3f;
  margin-left: 3px;
  margin-right: 3px;
}
.path__item:first-child:before {
  display: none;
}
.path__link {
  color: #aaaaaa;
  text-decoration: none;
  border-bottom: 1px solid #e9e9e9;
}
.path__link:hover {
  color: #176fc1;
  border-bottom-color: #176fc1;
  border-bottom-color: rgba(23, 111, 193, 0.4);
}
/* -- Permission --*/
.permission-label {
  background-color: #999;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
}
.permission-label.allow {
  background-color: #00c775;
}
.permission-label.deny {
  background-color: #F77268;
}
.permission-label.mask {
  background-color: #F77268;
}
/* Map */
.map-logo {
  display: block;
}
