.ngw-feature-layer-feature-editor-modal.ant-modal {
    margin: 1em;
    padding: 0;
    width: 60%;
    min-width: 40em;
    max-width: 80em;
    height: 80%;
    min-height: 40em;

    > div {
        height: 100%;

        > .ant-modal-content {
            height: 100%;

            > .ant-modal-body {
                height: 100%;
            }
        }
    }
}
