div.ngw-share-buttons {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2000;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.5);

}

div.ngw-share-buttons i {

}

div.ngw-share-buttons i, div.ngw-share-buttons a {
    font-size: 24px;
    color: #176FC1;
    display: block;
    text-decoration: none;
}

div.ngw-share-buttons a {
    opacity: 0.8;
}

div.buttons {
    display: none;
    /*height: 75px;*/
    overflow: auto;
    /*width: 200px;*/
}

div.ngw-share-buttons:hover div.buttons {
    display: block;
}

div.ngw-share-buttons a.icon-facebook-squared {
    color: #365899;
}
div.ngw-share-buttons a.icon-twitter-squared {
    color: #1B95E0;
}
div.ngw-share-buttons a.icon-gplus-squared {
    color: #D73D32;
}
div.ngw-share-buttons a.icon-vkontakte {
    color: #507299;
}
div.ngw-share-buttons a:hover {
    opacity: 1;
}