.print-panel {
    display: flex;
    flex-direction: column;

    > section {
        border-bottom: 1px solid var(--divider-color);
        padding: 12px 8px;

        > h5 {
            margin: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .ant-alert {
            margin-top: 12px;
        }
    }

    .ant-space-compact {
        margin-top: 20px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }
}

.print-map-pane {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    overflow: auto;
}

.custom-scale {
    display: flex;
    position: relative;
    align-items: baseline;
    clear: both;
    padding: 4px 10px;
    max-width: 100%;
    column-gap: 5px;

    .prefix {
        white-space: nowrap;
    }

    .input {
        flex-grow: 1;
    }
}
