<div>
  <div data-dojo-attach-point="descriptionDiv"
       class="description">
  </div>
  <div class="edit-controls">
    <span data-dojo-attach-point="spanEditAnnotation"
          title="{{gettext 'Edit annotation'}}"
          class="material-icons">
      edit
    </span>
  </div>
</div>
