<div>
  <div data-dojo-attach-point="descriptionDiv"
       class="description">
  </div>
  <div class="edit-controls">
    <span data-dojo-attach-point="spanEditAnnotation"
          title="{{gettext 'Edit annotation'}}">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-material-edit"/></svg>
    </span>
  </div>
</div>
