.ngw-resource-favorite-page {
    .empty {
        max-width: 40em;
        font-size: 16px;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        > tbody:not(.space) > tr {
            &.click {
                cursor: pointer;
            }

            &:not(.path):hover > td {
                background-color: var(--color-alter);
            }

            > td {
                vertical-align: top;
                border: 1px solid var(--color-border);
                padding: 0.75rem;

                &:not(&:first-child) {
                    border-left: none;
                }

                &:not(&:last-child) {
                    border-right: none;
                }

                &.dn > input {
                    margin-top: -4px;
                    margin-bottom: -4px;
                }

                &.type {
                    width: 25%;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &.action {
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;

                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        gap: 0.5rem;

                        a {
                            line-height: 1;
                        }

                        .icon {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }

            &.resource > td,
            &.item > td {
                font-size: 16px;
            }

            &.path {
                color: var(--text-secondary);
                > td {
                    background-color: var(--color-alter);
                    padding: 0.25rem;
                }
            }

            &.resource > td.dn {
                > div {
                    display: flex;
                    gap: 0.75em;
                    font-size: 16px;

                    & > .icon {
                        min-width: 1.5rem;
                        min-height: 1.5rem;
                    }
                }
            }

            &.item > td.dn {
                padding-left: 3rem;
            }
        }
    }
}
