<div data-dojo-type="${baseClass}">

    <div data-dojo-attach-point="gridPane" data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'center'" style="padding: 0; margin-right: 1px;">
    </div>

    <div data-dojo-attach-point="toolbar" data-dojo-type="dijit/Toolbar"
        data-dojo-props="region: 'top'"
        style="margin-right: 1px;">

        <div data-dojo-attach-point="btnOpenFeature" data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass: 'dijitIconApplication', disabled: true" label="{{gettext 'Open'}}">
        </div>

        <div data-dojo-attach-point="btnUpdateFeature" data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass: 'dijitIconEdit', disabled: true" label="{{gettext 'Edit'}}">
        </div>

        <div data-dojo-attach-point="btnDeleteFeature" data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass: 'dijitIconDelete', disabled: true" label="{{gettext 'Delete'}}">
        </div>

        <div style="float: right">
            <div data-dojo-attach-point="tbSearch" data-dojo-type="dijit/form/TextBox"
                data-dojo-props="placeHolder: '{{gettext 'Search...'}}'"
                style="margin-right: 2px; width: 20em;">
            </div>
        </div>
    </div>

</div>
