.ngw-webmap-annotations-panel {
    display: flex;
    flex-direction: column;

    > section {
        border-bottom: 1px solid var(--divider-color);
        padding: 12px 8px;

        &:last-child {
            border-bottom: none;
        }

        > h5 {
            margin: 0;
        }
    }

    .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        .label {
            flex-grow: 1;
            max-width: 20em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.public,
            &.own,
            &.private {
                border-right: 6px solid transparent;
                padding-right: 4px;

                &.public {
                    border-color: var(--annotation-public);
                }

                &.own {
                    border-color: var(--annotation-own);
                }

                &.private {
                    border-color: var(--annotation-private);
                }
            }
        }
    }
}
