<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">

        <div data-dojo-attach-point="wHostname"
            data-dojo-type="dijit/form/ValidationTextBox"
            title="Сервер" style="width: 100%"></div>

        <div data-dojo-attach-point="wDatabase"
            data-dojo-type="dijit/form/ValidationTextBox"
            title="База данных" style="width: 100%"></div>

        <div data-dojo-attach-point="wUsername"
            data-dojo-type="dijit/form/ValidationTextBox"
            title="Пользователь" style="width: 100%"></div>

        <div data-dojo-attach-point="wPassword"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="type: 'password'"
            title="Пароль" style="width: 100%"></div>

    </div>
</div>