<div class="padding-block">
    <div data-dojo-attach-point="wConfirm"
        data-dojo-type="dijit/form/CheckBox"
        data-dojo-type="value: true"
        id="${id}_wConfirm"></div>
    <label for="${id}_wConfirm">
        {{gettext 'Confirm deletion of the resource'}}
    </label>
</div>