<div class="dijitTreeNode" role="presentation">
	<div data-dojo-attach-point="rowNode" class="dijitTreeRow" role="presentation" style="display: flex; align-items: center; gap: 6px;">
		<div style="flex-grow: 0" data-dojo-attach-point="expandoNode" class="dijitInline dijitTreeExpando" role="presentation"></div>
		<div style="flex-grow: 0" data-dojo-attach-point="expandoNodeText" class="dijitExpandoText" role="presentation"></div>
		<div data-dojo-attach-point="contentNode" class="dijitTreeContent withIcon withIcon-s" role="presentation">
			<svg data-dojo-attach-point="iconNode" class="icon"><use xlink:href="#icon-rescls-${item.cls}"/></svg>
			<span data-dojo-attach-point="labelNode,focusNode" role="treeitem"
				   tabindex="-1" aria-selected="false" id="${id}_label"></span>
		</div>
	</div>
	<div data-dojo-attach-point="containerNode" class="dijitTreeNodeContainer" role="presentation"
		 style="display: none;" aria-labelledby="${id}_label"></div>
</div>
