<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="resource" title="Слой" class="padding-block">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">
        
        <div data-dojo-type="ngw-pyramid/form/DisplayNameTextBox"
            data-dojo-attach-point="wDisplayName"
            data-ngw-serialize="display_name"
            title="{{gettext 'Display name'}}" style="width: 100%"></div>

        <div data-dojo-type="ngw-pyramid/form/KeynameTextBox"
            data-dojo-attach-point="wKeyname"
            data-ngw-serialize="keyname"
            title="{{gettext 'Keyname'}}" style="width: 100%"></div>

        <div data-dojo-type="ngw-resource/ResourceBox"
            data-dojo-attach-point="wParent"
            title="{{gettext 'Parent'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/TextBox"
            data-dojo-attach-point="wCls"
            data-dojo-props="readonly: true"
            title="{{gettext 'Type'}}" style="width: 100%"></div>

    </div>
</div>
