.nextgis .ol-swipe {
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nextgis .ol-swipe:before {
    -webkit-transform: translate(-2px, 0);
    position: absolute;
    top: -5000px;
    bottom: -5000px;
    left: 50%;
    transform: translate(-2px, 0);
    z-index: -1;
    background: #fff;
    width: 4px;
    content: "";
}
.nextgis .ol-swipe.horizontal:before {
    top: 50%;
    right: -5000px;
    bottom: auto;
    left: -5000px;
    width: auto;
    height: 4px;
}

.nextgis .ol-swipe,
.nextgis .ol-swipe button {
    cursor: ew-resize;
}

.nextgis .ol-swipe button,
.nextgis .ol-swipe button:hover,
.nextgis .ol-swipe button:focus,
.nextgis .ol-swipe button:active {
    background-color: var(--accent);
}

.nextgis .ol-swipe.horizontal,
.nextgis .ol-swipe.horizontal button {
    cursor: ns-resize;
}

.nextgis .ol-swipe:after,
.nextgis .ol-swipe button:before,
.nextgis .ol-swipe button:after {
    -webkit-transform: translate(-1px, 0);
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 50%;
    transform: translate(-1px, 0);
    background: rgba(255, 255, 255, 0.8);
    width: 2px;
    content: "";
}
.nextgis .ol-swipe button:after {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.nextgis .ol-swipe button:before {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
