<div class="user-avatar">
    <div data-dojo-attach-point="userAvatarLabel" class="user-avatar__label"></div>
    <span class="user-avatar__icon material-icons">keyboard_arrow_down</span>
    <div data-dojo-attach-point="userAvatarMenu" class="user-avatar__menu list list--s">
        <a class="list__item" href="${logoutLink}">{{gettext 'Sign out'}}</a>
    </div>
</div>