body {
    display: flex;
    flex-direction: column;

    > .webmap-wrapper {
        flex-grow: 1;
        min-width: 0;
        min-height: 0;
    }
}

.ngw-webmap-display {
    > .ant-splitter-panel,
    > .ant-splitter-panel > .ant-splitter > .ant-splitter-panel {
        padding: 0;
    }
}
