// Refer to the console output from testentry.ts for the list of selectors and
// update them as needed.

// FAMILY DEFAULT
.swagger-ui .athelas,
.swagger-ui .avenir,
.swagger-ui .baskerville,
.swagger-ui .bodoni,
.swagger-ui .btn,
.swagger-ui .btn.cancel,
.swagger-ui .calisto,
.swagger-ui .code,
.swagger-ui .courier,
.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .download-contents,
.swagger-ui .errors-wrapper hgroup h4,
.swagger-ui .garamond,
.swagger-ui .georgia,
.swagger-ui .helvetica,
.swagger-ui .info .title,
.swagger-ui .info .title small pre,
.swagger-ui .info a,
.swagger-ui .info h1,
.swagger-ui .info h2,
.swagger-ui .info h3,
.swagger-ui .info h4,
.swagger-ui .info h5,
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .json-schema-2020-12-expand-deep-button,
.swagger-ui .json-schema-2020-12__title,
.swagger-ui .loading-container .loading::after,
.swagger-ui .model-box-control,
.swagger-ui .model-deprecated-warning,
.swagger-ui .model-title,
.swagger-ui .models-control,
.swagger-ui .opblock .opblock-section-header > label,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .opblock .opblock-summary-method,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-description-wrapper h4,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-external-docs-wrapper h4,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-summary-control,
.swagger-ui .opblock-tag,
.swagger-ui .opblock-tag small,
.swagger-ui .opblock-title_normal,
.swagger-ui .opblock-title_normal h4,
.swagger-ui .opblock-title_normal p,
.swagger-ui .parameter__name,
.swagger-ui .response-col_links,
.swagger-ui .response-col_status,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui .sans-serif,
.swagger-ui .scheme-container .schemes > .schemes-server-container > label,
.swagger-ui .scopes h2,
.swagger-ui .serif,
.swagger-ui .servers > label,
.swagger-ui .system-sans-serif,
.swagger-ui .system-serif,
.swagger-ui .tab li,
.swagger-ui .tab li button.tablinks,
.swagger-ui .times,
.swagger-ui .topbar .download-url-wrapper .download-url-button,
.swagger-ui .topbar a,
.swagger-ui ::-webkit-file-upload-button,
.swagger-ui button,
.swagger-ui code,
.swagger-ui input,
.swagger-ui label,
.swagger-ui optgroup,
.swagger-ui section h3,
.swagger-ui section.models h4,
.swagger-ui section.models h5,
.swagger-ui select,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui textarea {
    font-family: var(--ngw-text-font-family);
}

// FAMILY MONOSPACE
.swagger-ui .auth-container .errors,
.swagger-ui .checkbox p,
.swagger-ui .errors-wrapper .errors h4,
.swagger-ui .info .base-url,
.swagger-ui .json-schema-2020-12-keyword__value--const,
.swagger-ui .json-schema-2020-12-keyword__value--warning,
.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title,
.swagger-ui .json-schema-2020-12__attribute,
.swagger-ui .json-schema-2020-12__constraint,
.swagger-ui .markdown code,
.swagger-ui .model,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .opblock-body pre.microlight,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in,
.swagger-ui .parameter__type,
.swagger-ui .renderedMarkdown code,
.swagger-ui .response-col_links .response-undocumented,
.swagger-ui .response-col_status .response-undocumented,
.swagger-ui .response__extension,
.swagger-ui code,
.swagger-ui kbd,
.swagger-ui pre,
.swagger-ui samp,
.swagger-ui table.headers td,
.swagger-ui textarea,
.swagger-ui textarea.curl {
    font-family: monospace;
}

// WEIGHT NORMAL
.swagger-ui .checkbox p,
.swagger-ui .fw1,
.swagger-ui .fw2,
.swagger-ui .fw3,
.swagger-ui .fw4,
.swagger-ui .info .base-url,
.swagger-ui .json-schema-2020-12-keyword__value,
.swagger-ui .markdown pre,
.swagger-ui .model .external-docs,
.swagger-ui .normal,
.swagger-ui .opblock-link,
.swagger-ui .opblock-tag > div,
.swagger-ui .opblock-tag small,
.swagger-ui .parameter__name,
.swagger-ui .renderedMarkdown pre,
.swagger-ui table.model tr.description {
    font-weight: normal;
}

// WEIGHT BOLD
.swagger-ui .auth-container .errors,
.swagger-ui .b,
.swagger-ui .btn,
.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .download-contents,
.swagger-ui .errors-wrapper .errors h4,
.swagger-ui .example__section-header,
.swagger-ui .examples-select__section-label,
.swagger-ui .examples__section-header,
.swagger-ui .examples__title,
.swagger-ui .fw5,
.swagger-ui .fw6,
.swagger-ui .fw7,
.swagger-ui .fw9,
.swagger-ui .json-schema-2020-12-keyword__name,
.swagger-ui .json-schema-2020-12-keyword__value--const,
.swagger-ui .json-schema-2020-12-keyword__value--warning,
.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title,
.swagger-ui
    .json-schema-2020-12-property--required
    > .json-schema-2020-12:first-of-type
    > .json-schema-2020-12-head
    .json-schema-2020-12__title::after,
.swagger-ui .json-schema-2020-12__constraint,
.swagger-ui .json-schema-2020-12__title,
.swagger-ui .loading-container .loading::after,
.swagger-ui .markdown code,
.swagger-ui .model,
.swagger-ui .model-deprecated-warning,
.swagger-ui .opblock .opblock-section-header > label,
.swagger-ui .opblock .opblock-summary-method,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .opblock-body pre.microlight,
.swagger-ui .opblock-link.shown,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in,
.swagger-ui .parameter__name.required,
.swagger-ui .parameter__type,
.swagger-ui .renderedMarkdown code,
.swagger-ui .response-col_links .response-undocumented,
.swagger-ui .response-col_status .response-undocumented,
.swagger-ui .response__extension,
.swagger-ui .scheme-container .schemes > .schemes-server-container > label,
.swagger-ui .servers-title,
.swagger-ui .tab li.active,
.swagger-ui .topbar .download-url-wrapper .download-url-button,
.swagger-ui .topbar a,
.swagger-ui b,
.swagger-ui label,
.swagger-ui select,
.swagger-ui span.token-not-formatted,
.swagger-ui strong,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui table.headers td,
.swagger-ui table.model tr.description td:first-child,
.swagger-ui table.model tr.external-docs td:first-child,
.swagger-ui table.model tr.property-row.required td:first-child,
.swagger-ui textarea,
.swagger-ui textarea.curl {
    font-weight: bold;
}
