.zoom-level-display {
    display: flex;
    justify-content: center;

    border-top: 0.2px solid var(--divider-color);
    border-bottom: 0.2px solid var(--divider-color);

    user-select: none;
}
