<div class="dist-info">
  <div class="dist-info__text">
    <div data-dojo-attach-point="iconNode"></div>
    <div data-dojo-attach-point="contentNode">${message}</div>
  </div>
  <div class="dist-info__action" data-dojo-attach-point="actionNode"></div>
</div>