.dist-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 138, 147, .24);
  padding: 16px;
  border-radius: var(--border-radius-root);
  transition: background-color .3s;
}

.dist-info--hasUpdate{
  background-color: var(--surface-bg-success);
}
.dist-info--hasUrgentUpdate{
  background-color: var(--surface-bg-danger);
}