.ngw-feature-layer-feature-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .thead {

    }

    .tbody-scroller {
        flex-grow: 1;
        height: 0px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: auto;
        border-spacing: 0;
        border: 1px solid black;

        .tbody {
            position: relative;
            width: 100%;
        }
    }

    .tr {
        display: flex;
        flex-wrap: wrap;
        :last-child {
            .td {
                border-bottom: 0;
            }
        }
        border-bottom: 1px solid black;
    }

    .td {
        flex: 1;
        width: 200px;
        margin: 0;
        padding: 0;
        border-right: 1px solid black;
        :last-child {
            border-right: 0;
        }
    }

    .header-row {
        .td {
            display: flex;
        }
    }
    .header-row-label {
        flex: 1;
    }

    .drag-handle {
        cursor: col-resize;
        color: #0085ff;
    }
    .drag-handle:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .drag-handle-active,
    .drag-handle-active:hover {
        color: #0b6fcc;
        z-index: 3;
    }

    .drag-handle-icon {
    }
}
