/* -- Variables -- */
@screen-sm-min: 768px;
@screen-md-min: 1024px;

@min-width: 680px;
@headerHeight: 42px;

@text-color: #212121;
@light-text: #aaa;
@light-text-2: #777;
@text-muted: #777;

@blue: #076dbf;
@darkBlue: #036997;
@lightBlue: #e5eef7;
@lightBlue-2: #EEF4F7;
@black: #000;
@white: #fff;
@bgColor: #fafafa;
@light-border: #efefef;
@light-border-2: #dedede;
@yellow: #FFBA3F;
@yellow-light: #fdf8c3;
@green: #00C775;
@red: #F44336;
@link-hover: #2196F3;
@gray-bg: #f0f1f3;

@elevation-base: 0 1px 2px rgba(57,70,78,.3);
@border-radius-base: 4px;

@base-font: "Roboto";
@header-font:  "lato_local";

@font-size-md: 16px;

@icon-color: #999;

@input-border-color: rgba(0,0,0,.16);


/* theme */

@primary: @blue;
@secondary: @lightBlue;
