<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${serializePrefix}" title="Слой" class="padding-block">
    <div class="input-group">
      <label class="input-group__label">{{gettext 'Preview for social media and messengers:'}}</label>
      <div data-dojo-attach-point="wPreviewFile"
          data-dojo-type="ngw-file-upload/ImageUploader"
          data-dojo-props="
              uploaderLinkText: '{{gettext 'Select a preview image'}}',
              uploaderHelpText: '{{gettext 'The image will be converted to PNG format and downscaled to 1600x630 pixels if it\\'s bigger.'}}',
              backgroundSize: 'contain'"></div>
    </div>


    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, showLabels: true">
        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-attach-point="wPreviewDescription"
            data-ngw-serialize="preview_description"
            title="{{gettext 'Preview description'}}" style="width: 100%"></div>
    </div>

</div>
