.ngw-panel {
    .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        &.column {
            flex-direction: column;
            align-items: baseline;
            gap: 0px;
            margin-top: 10px;

            label {
                color: var(--text-secondary);
                font-size: 12px;
            }
        }

        span.grow {
            flex-grow: 1;
        }

        .ant-input-number {
            width: 9ch;
        }
    }
}
