.ngw-webmap-panel-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-color);
    padding: 2px;

    > span {
        padding-left: 6px;
        font-weight: var(--ngw-head-font-weight);
        font-size: 15px;
        font-family: var(--ngw-head-font-family-list);
    }

    > .spacer {
        flex-grow: 1;
    }

    button {
        color: var(--icon-color);
    }
}
