.ngwFeaturePhoto-surface {
    background-color: #ddd;
}

.ngwFeaturePhoto-inline {
    display: inline-block;
    margin: 0.25ex;
}

.ngwFeaturePhoto-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}