<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${prefix}" class="padding-block">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1"
        data-dojo-attach-point="wTableContainer">

        <div data-dojo-type="dijit/form/CheckBox"
            data-ngw-serialize="addalpha"
            data-dojo-props="checked: true"
            title="{{gettext 'Add alpha'}}"></div>

    </div>
</div>
