<div data-dojo-type="${baseClass}"
    data-dojo-attach-point="focusNode"
    style="width: 100%; height: 100%">

    <div data-dojo-attach-point="tabContainer"
        data-dojo-type="dijit/layout/TabContainer"
        data-dojo-props="tabPosition: 'top'"
        style="width: 100%; height: 100%;">

        <!-- Незакрываемый таб для размещения карты и дерева слоев -->
        <!-- Если у таба нет иконки и он незакрываем, то плывет верстка! -->
        <div data-dojo-attach-point="mainPane" title="{{gettext 'Map'}}"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="closable: false, iconClass: 'iconMap'"
            style="width: 100%; height: 100%; padding: 0">

            <div data-dojo-attach-point="mainContainer"
                 data-dojo-type="dijit/layout/BorderContainer"
                 data-dojo-props="gutters: false"
                 style="width: 100%; height: 100%;">

                <!-- Панель для размещения OL карты -->
                <div data-dojo-attach-point="mapContainer"
                    data-dojo-type="dijit/layout/BorderContainer"
                    data-dojo-props="region: 'center'"
                    style="padding-left: 0;">

                    <!-- Тулбар над картой -->
                    <div data-dojo-attach-point="mapToolbar"
                        data-dojo-type="ngw-webmap/MapToolbar"
                        data-dojo-props="region: 'top', display: this">
                    </div>

                    <div data-dojo-attach-point="mapPane"
                        data-dojo-type="dijit/layout/ContentPane"
                        data-dojo-props="region: 'center'"
                        style="width: 100%; padding: 0;">

                        <div data-dojo-attach-point="mapNode"
                            style="position: absolute: width: 100%; height: 100%; padding: 0;">

                            <div style="position: absolute; top: 0; right: 0; z-index: 2000; margin: 4px; background-color: rgba(255, 255, 255, 0.5)">
                                <a href="http://nextgis.com" target="_blank"><img alt="{{gettext 'Get your own Web GIS at nextgis.com'}}" class="map-logo" src="${assetUrl}img/nextgis.png"/></a>
                            </div>

                            <div data-dojo-attach-point="socialButtons"
                                 data-dojo-type="ngw-webmap/ui/NgwShareButtons/NgwShareButtons"
                                 data-dojo-props="display: this"
                                 title=""></div>
                        </div>

                    </div>

                </div>



                <div data-dojo-attach-point="navigationMenuPane"></div>

            </div>

        </div>

    </div>
</div>
