<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" style="padding: 1ex;">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 2">

        <div data-dojo-attach-point="wExtentLeft"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}"
            title="Лево, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentBottom"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}"
            title="Низ, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentRight"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}"
            title="Право, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentTop"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}"
            title="Верх, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wBookmarkResource"
            data-dojo-type="ngw/form/PickerBox"
            data-dojo-props="colspan: 2"
            title="Слой закладок"
            style="width: 100%">

            <div data-dojo-type="ngw-resource/ResourcePicker"
                data-dojo-attach-point="bookmarkPicker"
                data-dojo-props="interface: 'IFeatureLayer'">
            </div>
        </div>

    </div>
</div>