<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${serializePrefix}"
    style="padding: 1ex;">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 2">

        <div data-dojo-attach-point="wExtentLeft"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}, trim: true"
            title="Лево, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentBottom"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}, trim: true"
            title="Низ, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentRight"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}, trim: true"
            title="Право, град."
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentTop"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}, trim: true"
            title="Верх, град."
            style="width: 100%"></div>

        <div data-dojo-type="ngw-resource/ResourceBox"
            data-dojo-props="interface: 'IFeatureLayer', colspan: 2"
            data-ngw-serialize="bookmark_resource"
            title="Слой закладок"
            style="width: 100%">
        </div>

    </div>
</div>
