<div class="ngw-share-buttons">
    <i class="icon-share-squared"></i>
    <div class="buttons">
        <a class="icon-link permalink" href="javascript:void(0)"></a>
        <a class="icon-file-code embedded-map" href="javascript:void(0)"></a>
        <a class="icon-facebook-squared"
           href="http://www.facebook.com/sharer.php?u=${url}&amp;display=popup&amp;caption=An%20example%20caption "
           target="_blank"></a>
        <a class="icon-twitter-squared"
           href="https://twitter.com/intent/tweet?url=${url}&amp;via=nextgis&amp;hashtags=nextgis"
           target="_blank"></a>
        <a class="icon-gplus-squared"
           href="https://plus.google.com/share?url=${url}"
           target="_blank"></a>
        <a class="icon-vkontakte"
           href="http://vk.com/share.php?url=${url}"
           target="_blank"></a>
    </div>
</div>
