<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer"
        data-dojo-props="cols:1, labelWidth: 150">

        <input data-dojo-attach-point="displayName"
            data-dojo-type="ngw/form/DisplayNameTextBox"
            title="Полное имя"
            style="width: 100%">
        </input>

        <input data-dojo-attach-point="keyname"
            data-dojo-type="ngw/form/KeynameTextBox"
            title="Имя группы"
            style="width: 100%">
        </input>

    </div>
</div>