.navigation-menu {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding: 8px 0 !important;
    z-index: 2;

    background-color: var(--icon-menu-bg, var(--primary));
    color: var(--icon-menu-text, var(--on-primary-text));

    .navigation-menu__item {
        text-align: center;
        cursor: pointer;
        height: 40px;
        user-select: none;

        & > svg.icon {
            opacity: 0.5;
            font-size: 24px;
        }

        &.active > svg.icon,
        &:hover > svg.icon {
            opacity: 1;
        }
    }
}
