.ngw-feature-attachment-EditorWidget .field-preview { width: 90px; text-align: center; }
.ngw-feature-attachment-EditorWidget .field-size { width: 100px; text-align: right; }
.ngw-feature-attachment-EditorWidget .field-mime_type { width: 25em; }