.ngw-feature-attachment-attachment-table {
    .images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1em;
    }

    .ant-table {
        .size {
            width: 0;
            text-align: right;
            white-space: nowrap;
        }

        .mime-type {
            width: 0;
            white-space: nowrap;
        }
    }
}
