.ngw-pyramid-system-info-update {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-block-end: 1em;
    border-radius: var(--border-radius-root);
    background-color: rgba(128, 138, 147, 0.25);
    padding: 1em;

    &.update {
        background-color: var(--surface-bg-success);

        &.critical {
            background-color: var(--surface-bg-danger);
        }
    }

    > .ant-btn {
        margin-inline-start: auto;
    }
}

.ngw-pyramid-update-sysinfo-modal {
    .ant-modal-body {
        margin: 0 -1em -1em -1em;
    }

    iframe {
        border: none;
        width: 100%;
        height: 66vh;
    }
}
