<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">

    <div data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props="gutters: false"
        style="width: 100%; height: 350px">

        <div data-dojo-type="dojox/layout/TableContainer"
            data-dojo-props="region: 'top', cols:1, labelWidth: 120">

            <input data-dojo-attach-point="language"
                data-dojo-type="ngw-pyramid/form/LangSelect"
                data-dojo-props="required: false"
                title="{{gettext 'Language'}}"
                style="width: 150px">
            </input>

        </div>

    </div> 

</div>
