<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer"
        data-dojo-props="cols:1, labelWidth: 150">

        <input data-dojo-attach-point="displayName"
            data-dojo-type="ngw-pyramid/form/DisplayNameTextBox"
            title="{{gettext 'Full name'}}"
            style="width: 100%">
        </input>

        <input data-dojo-attach-point="keyname"
            data-dojo-type="ngw-pyramid/form/KeynameTextBox"
            data-dojo-props="required: true"
            title="{{gettext 'Login'}}"
            style="width: 100%">
        </input>

        <input data-dojo-attach-point="password"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="pattern: '.{5,25}'"
            type="password"
            title="{{gettext 'Password'}}"
            style="width: 100%">
        </input>

        <select data-dojo-attach-point="memberOf"
            data-dojo-type="dojox/form/CheckedMultiSelect"
            multiple="true"
            title="{{gettext 'Groups member'}}"
            style="width: 100%">
        </select>

    </div>
</div>
