.navigation-menu{
    width: 50px;
    padding: 8px 0 !important;
    background-color: #076dbf;
    color: #fff;
}
    .navigation-menu__item{
        text-align:center;
        cursor: pointer;
        height: 40px;
        user-select: none;
    }

    .navigation-menu__icon{
        line-height: 40px;
        color: inherit;
        opacity: .48;
        color: inherit;
    }

        .navigation-menu__item:hover .navigation-menu__icon,
        .active .navigation-menu__icon{
            opacity: 1;
        }