.navigation-menu{
    width: 50px;
    padding: 8px 0 !important;
    background-color: var(--icon-menu-bg, var(--primary));
    color: var(--icon-menu-text, var(--on-primary-text));
}

    .navigation-menu__item{
        text-align: center;
        cursor: pointer;
        height: 40px;
        user-select: none;
    }

    .navigation-menu__item > svg.icon {
      opacity: 0.5;
      line-height: 40px;
    }

    .navigation-menu__item.active > svg.icon,
    .navigation-menu__item:hover > svg.icon {
      opacity: 1;
    }
