<div class="printMap-panel">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="gutters:true, liveSplitters:true, region: 'top'"
         style="width: 100%; height: 100%; padding: 0;">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="splitter:true, region:'left'"
             style="height: 100%; margin: 0;"
             class="print-controls-pane">
            <div class="dynamic-panel__title">
                {{gettext 'Print'}}
            </div>

            <div class="print-panel-content"></div>

            <span class="close icon--link"
                  title="{{gettext 'Close'}}"
                  data-dojo-attach-point="closePanel">
                <svg class="icon"
                     fill="currentColor"
                ><use xlink:href="#icon-material-close"/></svg>
            </span>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="splitter:true, region:'center'"
             class="print-map-pane"
             style="overflow: auto; margin: 0; border: none;">
            <div class="print-map-page-wrapper">
                <div class="print-map-export-wrapper" data-dojo-attach-point="mapPageContainer">
                    <div class="print-map-page">
                        <div class="print-map"
                             data-dojo-attach-point="mapContainer"
                             style="width: 100%; height: 100%;"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
