.ngw-gui-content-card {
    border: 1px solid var(--theme-color-border-secondary);
    border-radius: var(--theme-border-radius);
    background-color: white;
    padding: var(--theme-padding);

    > *:first-child {
        margin-block-start: 0;
    }

    > *:last-child {
        margin-block-end: 0;
    }
}
