.ngw-gui-csv-importer-preview {
  .ant-table-cell {
    min-width: 5em;
    max-width: 15em;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.bound {
      background-color: var(--theme-color-success-bg) !important;
    }
  }
}
