<div class="${baseClass}" data-dojo-attach-point="focusNode" style="width: 100%;" >
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 100%;" doLayout="false">
        <div data-dojo-type="dijit/layout/ContentPane" title="Общее" selected="true">
            <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="opacityWidget" title="Насыщенность:" data-dojo-props="value: 100, constraints: {min: 0, max: 100, places: 0}"></div>
            </div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" title="Контур">
            <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
                <div data-dojo-type="dijit/form/NumberSpinner"  data-dojo-attach-point="strokeWidthWidget" title="Толщина:" data-dojo-props="value: 1, constraints: {min: 0, max: 10, places: 0}"></div>
                <div data-dojo-type="dijit/ColorPalette"  data-dojo-attach-point="strokeColorWidget" title="Цвет:" data-dojo-props="value: '#000000', palette:'7x10'"></div>
            </div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" title="Заливка">
            <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
                <div data-dojo-type="dijit/ColorPalette"  data-dojo-attach-point="fillColorWidget"  title="Цвет:" data-dojo-props="value: '#ffffff', palette:'7x10'"></div>
            </div>
        </div>
    </div>
</div>