.ngw-pyramid-avatar {
    cursor: pointer;
    user-select: none;

    > a {
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    &-label {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 2px;
        color: var(--on-primary-text);
        background: var(--primary);
        font-size: 20px;
        text-align: center;
    }
}


.ngw-pyramid-avatar-danger {
    .ngw-pyramid-avatar-label {
        color: var(--on-primary);
        background-color: var(--surface-bg-danger);
    }
}


.ngw-pyramid-avatar-popover {
    .ant-popover-title {
        padding: 6px 12px;
        font-weight: bold;
    }

    .ant-popover-inner-content {
        padding: 0px;

        div.warning {
            display: block;
            padding: 6px 12px;
            background-color: var(--surface-bg-danger);
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: var(--text-base);

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
}
