.ngw-feature-layer-attribute-editor {
  label.ngw-feature-layer-attribute-label {
    margin-block: -3px;
    height: unset;
    min-height: calc(var(--ant-form-label-height) + 2 * 3px);
    line-height: calc(var(--ant-form-label-height) / 2 + 3px);
  }
}
