.ngw-resource-effective-permisssions {
    > .ant-select {
        width: 100%;
    }

    table.pure-table {
        margin-top: 1em;
        width: 100%;
        tbody {
            tr.permission {
                td.label {
                    padding-left: 3em;
                }
                td.value {
                    text-align: center;

                    &.yes {
                        color: var(--success);
                    }
                    &.no {
                        color: var(--danger);
                    }
                }
            }
        }
    }
}
