<div class="copy-button">
    <span data-dojo-attach-point="icon"><svg class="icon" fill="currentColor"><use xlink:href="#icon-material-content_copy"/></svg></span>
    <textarea data-dojo-attach-point="targetInput" class="copy-button__input" value="">
</div>