<div class="copy-button">
    <span data-dojo-attach-point="icon" class="copy-button__icon material-icons">content_copy</span>
    <input data-dojo-attach-point="targetInput" class="copy-button__input" value="">
</div>