.ngw-webmap-layers-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    > .ngw-webmap-layers-tree {
        flex-grow: 1;
        overflow-y: auto;
    }

    > .basemap {
        border-top: 1px solid var(--divider-color);
        padding: 2px;
    }
}
