.ngw-pyramid-form-RTETextBox {
    padding-right: 20px;
    position: relative;
}


.ngw-pyramid-form-RTETextBox a.openWidget { 
    width: 12px;
    height: 12px;
    display: block;
    overflow: hidden;
    text-indent: -5000px;
    position: absolute;
    top: 4px; 
    right: 5px;
    background: url(edit.png) 0 0 no-repeat;
    z-index: 2000;
    cursor: pointer; 
}
