.ngw-feature-attachment-carousel-render {
    flex: 1;
    min-height: 0;
    pointer-events: none;

    > .slick-slider {
        height: 100%;

        > .slick-arrow {
            z-index: 100;
            width: 32px;
            height: 32px;
            pointer-events: auto;
            color: rgba(255, 255, 255, 0.25);
            font-size: 32px;

            > .icon {
                position: absolute;
            }

            &:hover {
                color: white;
            }

            &::before {
                content: unset;
            }

            &.slick-prev {
                left: 8px;
            }

            &.slick-next {
                right: 8px;
            }
        }

        > .slick-list {
            height: 100%;

            > .slick-track {
                height: 100%;

                > .slick-slide {
                    height: 100%;
                    pointer-events: none;

                    > div {
                        box-sizing: border-box;
                        padding: 48px;
                        padding-top: 0;
                        height: 100%;

                        > .ant-image {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;

                            > img {
                                display: block;
                                width: unset;
                                max-width: 100%;
                                height: unset;
                                max-height: 100%;
                                pointer-events: auto;
                            }
                        }
                    }
                }
            }
        }

        > .slick-dots-bottom {
            position: absolute;
            bottom: 20px;
            pointer-events: auto;
        }
    }

    > .ant-tooltip-btn {
        pointer-events: auto;
    }
}

.ngw-feature-attachment-carousel-render-toolbar {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 8px;
    z-index: 1100;
    margin-right: 48px;
    margin-left: 48px;
    min-height: 48px;
    pointer-events: auto;
    color: white;

    > div.title {
        flex: 1;
        align-self: center;
        margin: 4px 0;

        > .filename {
            color: rgba(255, 255, 255, 0.25);
        }
    }

    > .ant-btn {
        margin-top: 8px;
        padding: 0;
        width: 32px;
        height: 32px;
        pointer-events: auto;
        color: rgba(255, 255, 255, 0.25);
        font-size: 24px;
        line-height: 0;

        &.toggle-on {
            color: white;
        }

        .ant-btn-icon:hover {
            color: white;
        }
    }
}
