body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

body > .webmap-wrapper {
    flex-grow: 1;
    min-width: 0;
}

.webmap-display > div > .dijitTabContainer > .dijitTabPaneWrapper {
    border: 0;
}

.nextgis .ol-rotate {
    top: 4.643em;
    right: auto;
    left: 0.5em;
}

.nextgis .ol-touch .ol-control {
    font-size: 1.5em;
}

.nextgis .ol-touch .ol-control button {
    font-size: 1.14em;
}

/* Global ol styles */
.nextgis .ol-selectable {
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

/* Control panes */

.control-pane {
    position: absolute;
    z-index: 10;
}

.control-pane--left {
    left: 16px;
}
.control-pane--top {
    top: 16px;
}
.control-pane--right {
    right: 16px;
}
.control-pane--bottom {
    bottom: 17px;
}

.control-pane--bottom.control-pane--right {
    right: 0;
    bottom: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(255, 255, 255, 0.48);
    padding: 1px 2px 3px;
    overflow: hidden;
    line-height: 1;
}

.control-pane--bottom.control-pane--left {
    display: flex;
    align-items: center;
}

.control-pane .ol-control,
.control-pane .ol-scale-line {
    position: static;
    top: auto;
    top: -1px;
    right: auto;
    bottom: auto;
    left: auto;
    line-height: 1;
}

.control-pane--bottom .ol-control,
.control-pane--bottom .ol-scale-line {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.46);
    font-size: 10px;
}
.control-pane--bottom .ol-control:first-child,
.control-pane--bottom .ol-scale-line:first-child {
    margin-left: 0;
}

.control-pane--top .ol-control,
.control-pane--top .ol-scale-line {
    margin-top: 8px;
}
.control-pane--top .ol-control:first-child,
.control-pane--top .ol-scale-line:first-child {
    margin-top: 0px;
}

/* Map buttons */

.nextgis .ol-control {
    background: none;
    padding: 0;
}

.nextgis .ol-control button,
.nextgis .ol-control button:active,
.nextgis .ol-control button:focus,
.nextgis .ol-control__btn,
.nextgis .ol-control__btn:active,
.nextgis .ol-control__btn:focus {
    display: block;
    margin: 1px 0 0;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    border-radius: 2px;
    background-color: #fff;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.nextgis .ol-control button,
.nextgis .ol-control__btn {
    fill: var(--primary);
    cursor: pointer;
    color: var(--primary);
}

.nextgis .ol-control.error button {
    fill: var(--error);
    color: var(--error);
}

.nextgis .ol-control:first-child button {
    margin-top: 1px;
}

.control-pane--bottom .ol-control button {
    text-shadow: none;
}

.nextgis .ol-control__icon {
    fill: inherit;
    color: inherit;
    font-size: 24px;
}

.nextgis .ol-control:hover {
    background-color: transparent;
}

.nextgis .ol-control button:hover,
.nextgis .ol-control .ol-control__button:hover {
    background-color: #f9fafb;
}

/* Rotate control */

.nextgis .ol-compass {
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
}

/* Scale line */

.nextgis .ol-scale-line,
.control-pane .ol-scale-line {
    position: relative;
    top: 1px;
    background-color: transparent;
    padding: 0;
}

.nextgis .ol-scale-line-inner {
    float: right;
    margin: 0;
    border-color: rgba(0, 0, 0, 0.46);
    color: rgba(0, 0, 0, 0.46);
}

/* Attribution */

.nextgis .ol-attribution:not(.ol-collapsed) {
    background: transparent;
    height: auto;
    line-height: inherit;
}
.nextgis .ol-attribution ul {
    padding: 0;
    color: inherit;
    line-height: 1;
    text-shadow: inherit;
}

.nextgis .ol-attribution a {
    text-decoration: none;
}

.nextgis .ol-attribution.ol-uncollapsible img {
    margin-top: -3px;
    margin-bottom: -1px;
    height: 14px;
}

/* leftPanelPane */

div.dijitContentPane.leftPanelPane {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
    width: 350px;
}

.leftPanelPane--fullwidth {
    box-sizing: border-box;
    width: calc(100% - 50px) !important;
}

.navigation,
.navigation-menu-pane {
    width: 50px;
}

/* Tiny display */

.tiny .navigation-menu-pane {
    width: 0;
}

.tiny.tiny-panels .navigation-menu-pane {
    width: 50px;
}

/* .tiny .company-logo {
    top: 16px;
    right: 16px;
    bottom: auto;
}

.tiny .company-logo img {
    width: 91px;
    height: auto;
} */