.layer-order__grid--faded:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.82);
    width: 100%;
    height: 100%;
    content: "";
}

.layer-order__grid .dgrid-content {
    counter-reset: row;
}

.layer-order__grid .dgrid-content .dgrid-row-table {
    counter-increment: row;
}

.layer-order__grid .dgrid-content .dgrid-row-table .dgrid-cell::before {
    margin-right: 8px;
    content: counter(row) ".";
    color: #777;
}

.layer-order__grid .dgrid-cell {
    border: none !important;
}

.layer-order__grid .dgrid-scroller {
    padding-top: 4px;
    padding-bottom: 4px;
}

.layer-order__grid .dgrid-cell-padding {
    padding: 3px 8px;
}
