.claro .map-toolbar .dijitButton,
.claro .map-toolbar .dijitToggleButton,
.claro .map-toolbar .dijitDropDownButton,
.claro .map-toolbar .dijitComboButton {
    margin: 0;
}

.claro .control-pane--bottom .map-toolbar .ol-control {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    margin-left: 6px;
}
.claro .control-pane--bottom .map-toolbar .ol-control:first-child {
    margin-left: 0;
}

.claro .control-pane--top .map-toolbar .ol-control {
    margin-top: 8px;
}
.claro .control-pane--top .map-toolbar .ol-control:first-child {
    margin-top: 0;
}

.claro .map-toolbar .ol-control .dijitButtonNode {
    fill: var(--primary);
    transition: none;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    border: 0;
    background: #fff;
    padding: 0;
    width: 30px;
    height: 30px;
    color: var(--primary);
    line-height: 30px;
    text-shadow: none;
}

.claro .map-toolbar .ol-control .dijitButtonNode:hover {
    background: #f9fafb;
}

.claro .map-toolbar .ol-control.dijitToggleButtonChecked .dijitButtonNode {
    fill: #fff;
    background: var(--primary);
    color: #fff;
}

.claro .map-toolbar .ol-control .dijitButtonNode .dijitButtonContents {
    display: inline-block;
}
