.ngw-raster-mosaic-resource-widget {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .action-toolbar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        padding: 1em;
    }

    > .ngw-gui-edi-table {
        flex-grow: 1;
    }
}
