.ngw-webmap-panel-identify {
    .ngw-webmap-panel-prolog {
        background-color: #e6f0f8;
    }

    .load-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .load {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 10px;
            color: #076dbfc4;
            text-align: center;
        }
    }

    .fields-table {
        .attr-column {
            width: 25%;
        }

        td {
            word-wrap: break-word;
            min-width: 8rem;
            white-space: normal;
            word-break: break-word;
        }

        .ant-table-cell {
            vertical-align: top;
            padding: 5px 10px;
        }
    }
}
