.ngw-resource-external-access {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    > .text {
        grid-column: 1 / span 2;
    }

    > .label {
        align-self: center;
        white-space: nowrap;
    }

    > .url {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
        padding: 4px;
        border: 1px solid var(--divider-color);
        border-radius: var(--border-radius-root);
        align-items: center;

        .url-text {
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            user-select: all;
        }

        .ant-btn {
            height: auto;
            width: auto;
            padding: 0;

            svg.icon {
                flex-shrink: 0;
            }
        }
    }
}

.ngw-resource-external-access-popover.ant-popover {
    max-width: 40em;
}
