<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" class="content-box">
    <div data-dojo-type="dojox/layout/TableContainer"
        data-dojo-props="cols:2, labelWidth: 150">

        <input data-dojo-attach-point="displayName"
            data-dojo-type="ngw-pyramid/form/DisplayNameTextBox"
            data-dojo-props="colspan: 2"
            title="{{gettext 'SRS name'}}"
            style="width: 100%">
        </input>

        <textarea data-dojo-attach-point="wkt"
            data-dojo-type="dijit/form/SimpleTextarea"
            data-dojo-props="rows: 4, colspan: 2, required: true"
            title="{{gettext 'WKT'}}"
            style="width: 100%; box-sizing: border-box"></textarea>

    </div>
</div>
