/* Делаем кнопки внутри StackController со спец классом компактней */
.ngwWebmapToolIdentify-controller .dijitToggleButton,
.ngwWebmapToolIdentify-controller .dijitButton {
    margin-left: -1px;
    margin-right: 0;
}

.ngwWebmapToolIdentify-controller .dijitToggleButton:first-child,
.ngwWebmapToolIdentify-controller .dijitButton:first-child {
    margin-left: 0;
}

.ngwWebmapToolIdentify-controller .dijitToggleButton .dijitButtonNode,
.ngwWebmapToolIdentify-controller .dijitButton .dijitButtonNode {
    padding: 1px;
    height: 20px;
    border-radius: 0;
}

.ngwWebmapToolIdentify-controller .dijitToggleButton:first-child .dijitButtonNode,
.ngwWebmapToolIdentify-controller .dijitButton:first-child .dijitButtonNode {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ngwWebmapToolIdentify-controller .dijitToggleButton:last-child .dijitButtonNode,
.ngwWebmapToolIdentify-controller .dijitButton:last-child .dijitButtonNode {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.ngwWebmapToolIdentify-controller .dijitToggleButton .dijitButtonNode .dijitButtonText,
.ngwWebmapToolIdentify-controller .dijitButton .dijitButtonNode .dijitButtonText {
    padding: 1px 2px;
}

/* На кнопках без подписи прячем элемент подписи совсем */

.dijitButton.no-label .dijitButtonText { display: none; }