.ngw-webmap-layers-tree.ant-tree {
    .ant-tree-treenode {
        padding: 0;
    }

    &:not(.ant-tree-show-line) .ant-tree-switcher-noop {
        width: 6px;
    }

    &.ant-tree-show-line {
        .ant-tree-indent-unit {
            width: 18px;

            &::before {
                right: 6px;
            }
        }
    }

    .ant-tree-switcher-line-icon {
        vertical-align: -0.3em;
    }

    .ant-tree-checkbox {
        margin-top: 6px;
        margin-right: 6px;
        align-self: start;
        scale: 0.75;
    }

    .ant-tree-node-content-wrapper {
        display: flex;
        align-items: start;
        column-gap: 6px;
        width: 100%;
        min-width: 0;
        padding-left: 0;
        line-height: 28px;

        .ant-row {
            margin: 0;
        }

        &.ant-tree-node-selected {
            background-color: transparent;
        }

        .ant-tree-iconEle.ant-tree-icon__customize {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 28px;
            width: auto;

            &:empty {
                display: none;
            }

            img {
                display: block;
            }
        }

        .ant-tree-title {
            min-width: 0;
            width: 100%;

            .tree-item-title {
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .tree-item-action {
                flex-direction: row;
                display: flex;
                justify-content: end;
            }

            .more,
            .legend {
                width: 24px;
                height: 24px;
                display: flex;
                justify-items: center;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                &:hover {
                    background: #076dbf21;
                }
            }
        }
    }
}

.tree-item-menu {
    .ant-dropdown-menu-title-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 5px;
        align-items: baseline;
    }
}
