.legend-block {
    display: block;
    margin-left: -16px;

    .legend-symbol {
        display: flex;
        column-gap: 6px;
        min-height: 20px;
        align-items: center;
        font-size: 13px;
        line-height: 20px;

        .legend-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
