.ant-table-parent-height {
    height: 100%;

    .ant-table-content {
        height: var(--container-height);

        table > thead {
            position: sticky;
            z-index: 1;
            top: 0;
        }
    }
}
