.ngw-resource-resource-picker-card {
  .ant-card-head {
    margin-bottom: 0;
    padding: 0 12px;
    font-size: unset;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-actions {
    padding: 0 12px;
  }

  .ant-modal-footer .ant-input {
    text-align: start;
  }

  .resource-breadcrumb {
    flex: 1;
    min-width: 0;
  }
}
