.ngw-resource-component-resource-picker-children {
    table > tbody > tr.ant-table-row > td.ant-table-cell.actions {
        vertical-align: middle;
        padding: 0;
        padding-inline-end: 12px;
        width: 0;
        white-space: nowrap;
    }
}
