.ngw-resource-component-resource-picker-children {
    table > tbody > tr.ant-table-row > td.ant-table-cell.actions {
        vertical-align: middle;
        padding: 2px 12px 2px 8px;
        width: 0;
    }
}
