.ngw-feature-attachment-DisplayWidget a.image {
    position: relative;
    display: block; float: left;
    width: 128px; height: 128px;
    margin-right: 2ex;
    margin-bottom: 2ex;
    text-align: center;
}

.ngw-feature-attachment-DisplayWidget.compact a.image {
    display: block; float: left;
    width: 64px; height: 64px;
    margin-right: 1ex;
    margin-bottom: 1ex;
    text-align: center;
}

.ngw-feature-attachment-DisplayWidget a.image img {
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin: auto;
   max-width: 100%;
   max-height: 100%;
}

.ngw-feature-attachment-DisplayWidget table { clear: both; width: 100%; margin-top: 1ex; }

.ngw-feature-attachment-DisplayWidget table .name { width: 20%; }
.ngw-feature-attachment-DisplayWidget table .size { width: 10em; text-align: right; }
.ngw-feature-attachment-DisplayWidget table .mime_type { width: 15em; white-space: nowrap; }