.ngw-feature-attachment-DisplayWidget a.image {
    display: block;
    position: relative;
    float: left;
    margin-right: 2ex;
    margin-bottom: 2ex;
    width: 128px;
    height: 128px;
    text-align: center;
}

.ngw-feature-attachment-DisplayWidget.compact a.image {
    display: block;
    float: left;
    margin-right: 1ex;
    margin-bottom: 1ex;
    width: 64px;
    height: 64px;
    text-align: center;
}

.ngw-feature-attachment-DisplayWidget a.image img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.ngw-feature-attachment-DisplayWidget table {
    clear: both;
    margin-top: 1ex;
    width: 100%;
}

.ngw-feature-attachment-DisplayWidget table .name {
    width: 20%;
}
.ngw-feature-attachment-DisplayWidget table .size {
    width: 10em;
    text-align: right;
}
.ngw-feature-attachment-DisplayWidget table .mime_type {
    width: 15em;
    white-space: nowrap;
}
