<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" style="padding: 1ex">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 200">
    	<div data-dojo-type="ngw/form/SpatialRefSysSelect" data-dojo-attach-point="wSrs" title="{{gettext 'Coordinate system'}}" style="width: 100%"></div>
        <div data-dojo-type="ngw/form/Uploader" data-dojo-attach-point="wFile" title="{{gettext 'File'}}"></div>
    </div>
</div>