.dynamic-panel,
.claro .dynamic-panel{
    display: none;
    width: 250px;
    padding: 0;
}
    .dynamic-panel--fullwidth,
    .claro .dynamic-panel--fullwidth{
        width: calc(100% - 56px);
    }

    .dynamic-panel__title{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        line-height: 40px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        box-sizing: border-box;
    }

    .dynamic-panel__content{
        position: absolute;
        top: 40px;
        bottom:0;
        left:0;
        width: 100%;
        box-sizing: border-box;
    }

    .dynamic-panel__closer{
        position: absolute;
        top: 8px;
        right: 4px;
        z-index: 10;
        cursor: pointer;
    }