<div class="dynamic-panel">
    <div data-dojo-attach-point="titleNode" class="dynamic-panel__title">${title}</div>
    <div class="dynamic-panel__content"
         data-dojo-attach-point="contentNode">
    </div>
</div>