.dynamic-panel,
.claro .dynamic-panel{
    display: none;
    width: 350px;
    padding: 0;
    background-color: #fff;
}
    .dynamic-panel--fullwidth,
    .claro .dynamic-panel--fullwidth{
        width: 100%;
    }

    .dynamic-panel__title{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        line-height: 40px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        box-sizing: border-box;
        font-family: 'lato_local', 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    .dynamic-panel__content{
        position: absolute;
        top: 40px;
        bottom:0;
        left:0;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
    }

    .dynamic-panel__closer{
        position: absolute;
        top: 8px;
        right: 4px;
        z-index: 10;
        cursor: pointer;
    }

    .dynamic-panel__loader{
        display: none;
        position: absolute;
        top: 40px;
        bottom:0;
        width: 100%;
        background-color: rgba(255,255,255,.68);
    }

    .dynamic-panel__loader svg{
        width: 48px;
        height: 48px;
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        margin: auto;
    }

.dynamic-panel--notitle > .dynamic-panel__title{
    display: none;
}

.dynamic-panel--notitle .dynamic-panel__content{
    top:0;
}