<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="wURL" data-dojo-props="required: true" title="URL" style="width: 100%"></div>
        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="wVersion" title="Версия" style="width: 100%"></div>
        <div data-dojo-type="ngw/form/SpatialRefSysSelect" data-dojo-attach-point="wSRS" title="Система&nbsp;координат" style="width: 100%"></div>
    </div>
</div>