.nextgis.claro {
    .dijitSplitter {
        background-image: none;

        .dijitSplitterThumb {
            display: none;
        }
    }

    .dijitSplitterV {
        margin-left: -5px;
    }

    .dijitSplitterH {
        margin-top: -5px;
    }

    .dijitSplitterHHover,
    .dijitSplitterVHover,
    .dijitSplitterHActive,
    .dijitSplitterVActive {
        background-color: rgba(229, 238, 247, 0.48);
    }
}

.dj_ios .nextgis.claro,
.dj_android .nextgis.claro {
    .dijitSplitterV {
        margin-left: -11px;
    }

    .dijitSplitterH {
        margin-top: -11px;
    }
}
