.nextgis.claro{

    .dijitTextBoxHover{
      background-color: #fff;
    }

    .dijitSelectHover, 
    .dijitTextBoxHover,
    .dijitSelectFocused, 
    .dijitTextBoxFocused{
        background-image:none;
    }

    .dijitTextBoxFocused{
        border-color: #ffce76;
    }
}