.custom-scale {
    display: flex;
    position: relative;
    column-gap: 5px;
    align-items: baseline;
    clear: both;
    padding: 4px 10px;
    max-width: 100%;

    .prefix {
        white-space: nowrap;
    }

    .input {
        flex-grow: 1;
    }
}
