.print-map-panel {
    padding: 0 16px 24px !important;
    position: relative !important;
    width: auto !important;

    .input-group {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }

    .float-label {
        margin-top: 15px;
    }

    .actions {
        margin-top: 20px;

        button {
            margin-right: 10px;
        }
    }
}
