.print-map-panel {
    position: relative !important;
    padding: 0 16px 24px !important;
    width: auto !important;

    .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    .float-label {
        margin-top: 15px;
    }

    .ant-space-compact {
        margin-top: 20px;
    }
}
