.psv-navbar {
  background-color: transparent;
}

.ngw-photosphere-hotspot {
  display: block;
  transition: transform 0.15s ease;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: var(--danger);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.2);
  }
}
