.resource-picker-modal .ant-modal-footer {
    height: 60px;
}
.resource-picker-modal .ant-table-row {
    height: 57px;
}
.resource-picker-modal .ant-modal-footer .ant-input {
    text-align: left;
}

.resource-breadcrumb .ant-breadcrumb-link {
    display: inline-flex;
}
.resource-breadcrumb .ant-breadcrumb-link .resource-breadcrumb-item {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
