.control-pane.control-pane--top.control-pane--left .ol-hidden {
    display: none;
}

.control-pane--left .edit-toolbar .ol-control {
    display: block;
    vertical-align: middle;
    margin-top: 10px;
}

.control-pane--left .edit-toolbar {
    margin-top: 8px;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
}

.control-pane--left .edit-toolbar .ol-control:first-child {
    margin-top: 0px;
}

.control-pane--left .edit-toolbar .ol-control {
    margin-top: 1px;
    border-radius: 0;
}
