.ngw-webmap-panel-search {
  > .ngw-webmap-panel-title {
    padding-inline-start: 0;
    padding-block: 1px;
  }

  > .ngw-webmap-panel-prolog > .ant-alert {
    border: none;
    border-radius: none;
  }

  > .ngw-webmap-panel-content {
    .results {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      min-height: 0;
    }

    .loading-wrapper {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
    }

    .loading {
      color: #076dbf;
    }
  }
}
